{% load user_filters %}
<div class="main__header">
    <h1 class="main__title">{{ title }}</h1>
    <ul class="tags">
        {% for item in tags %}
            <li class="tags__item">
                <a class="tags__checkbox tags__checkbox_style_{{ item.color }}
                    {% if item in query %}tags__checkbox_active{% endif %}"
                    {% if item in query %}
                        {% with next_item=tags|next:forloop.counter0 %}
                        href="{{ request.get_path }}?{% for choice in query %}{% if choice != item %}tag={{ choice }}{% if not forloop.last %}&{% endif %}{% endif %}{% endfor %}"
                        {% endwith %}
                    {% else %}
                        href="{{ request.get_full_path }}&tag={{ item }}"
                    {% endif %}
                >
                </a>
                <span class="tags__label">{{ item }}</span>
            </li>
        {% endfor %}
    </ul>
</div>