{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}
    {% include "contentHeader.html" with title="Рецепты" %}
    <div class="card-list">
        {% for recipe in page %}
            {% include 'recipeCard.html' with recipe=recipe %}
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}
    {% load static %}
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/indexNotAuth.js' %}"></script>
{% endblock %}