<div class="card">
    {% if recipe.image %}
        <a href="{% url 'recipe' recipe.pk %}" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="Какой-то текст" class="card__image"></a>
    {% else %}
        {% load static %}
        <a href="{% url 'recipe' recipe.pk %}" class="link" target="_blank"><img src="{% static 'images/testCardImg.png' %}" alt="Какой-то текст" class="card__image"></a>
    {% endif %}
    <div class="card__body">
        <a class="card__title link" href="#" target="_blank">{{ recipe.name }}</a>
        <ul class="card__items">
            {% for choice in tags %}
                {% if choice in recipe.tags.all %}
                    <li class="card__item"><span class="badge badge_style_{{ choice.color }}">{{ choice }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author.username }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
    </div>
</div>